/speech_commands_v0.02/
/Complete cache/
/venv/
/.idea/

/train_cache.data-00000-of-00001
/train_cache.index
/validation_cache.data-00000-of-00001
/validation_cache.index
/test_cache.data-00000-of-00001
/test_cache.index
*.h5

/silence/
/speech_commands_test_set_v0.02/
*.index
*.data-00000-of-00001
/my_model1.h5
