/speech_commands_v0.02/
/Complete cache/
/venv/
/.idea/

/*.h5

*.wav

/silence/
/speech_commands_test_set_v0.02/
*.index
*.data-00000-of-00001
/my_model1.h5
/HDA_Project_backup.py
/HDA_ProjectCluster.py
/Recurrent_NN_job.slurm
*.png
/Demo/.ipynb_checkpoints/

